@use 'foundation/colour-palette';

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-1000: hsl(0, 0%, 0%);

  --clr-neutral-100-hsl: 0, 0%, 100%;
  --clr-neutral-1000-hsl: 0, 0%, 0%;

  --header-height: 10rem;

  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, 
input, 
textarea, 
select {
    font: inherit;
}

h1,
h2,
h3, 
h4 {
    font-family: var(--ff-accent);
    line-height: 1;
}

img {
    display: block;
    max-width: 100%;
}
.rounded-corners {
    border-radius: 25px;
}
img.circle {
    border-radius: 50%;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

body {
  font-size: 1.6rem;
  background-color: hsl(var(--clr-primary-hue) var(--clr-primary-saturation) var(--clr-primary-lightness));
}



.primary-color {
  background-color: hsl(var(--clr-primary-hue) var(--clr-primary-saturation) var(--clr-primary-lightness));
}
.secondary-color {
  background-color: hsl(var(--clr-secondary-hue) var(--clr-secondary-saturation) var(--clr-secondary-lightness));
}
.accent-color {
  background-color: hsl(var(--clr-accent-hue) var(--clr-accent-saturation) var(--clr-accent-lightness));
}


/* || Typography Classes */

.page-title {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.center-text {
  text-align: center;
}


/* || Semantic and Layout Styles */

header {
  --clr-primary-lightness: 20%;
  background-color: hsl(var(--clr-primary-hue) var(--clr-primary-saturation) var(--clr-primary-lightness));
  color: hsl(var(--clr-neutral-100-hsl));
  max-height: var(--header-height);

  .logo {
    max-height: var(--header-height);
    padding: 1rem 0;
  }
}

main {
  background-color: hsl(var(--clr-neutral-100-hsl));
  min-height: 60vh;
  padding: 3rem 0;

  h1 {
    text-align: center;
  }
}

footer {
  color: var(--clr-neutral-100);
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  /* added for nav-toggle positioning */
  position: relative;
}

.sub-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.card {
  background-color: hsl(var(--clr-neutral-1000-hsl), .2);
  margin: 0 1em 1em 1em;
  padding: 2em;
  color: hsl(var(--clr-neutral-100-hsl));
  border-radius: 1rem;
  border: 1px solid hsl(var(--clr-neutral-1000-hsl));
  box-shadow: 1em 1em 1em hsl(var(--clr-neutral-1000-hsl));

  h2 {
    color: hsl(var(--clr-neutral-1000-hsl));
    font-size: 3rem;
    margin-bottom: 1em;
  }
}


.colour-palette-sample {
  width: 100%;
  height: 20rem;
  position: relative;
  
  .colour-palette-text {
    color: hsl(var(--clr-neutral-100-hsl));
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    p {
      text-align: center;
      font-size: 2rem;
      color: hsl(var(--clr-neutral-100-hsl));
    }
  }
}

.bg-primary-dark {
  --clr-primary-lightness: 20%;
}
.bg-primary-light {
  --clr-primary-lightness: 50%;
}


/* || Media Queries - Large Screens */

@media (min-width: 800px) {
  .sub-container {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }

  .colour-palette-sample {
    width: 20rem;
    height: 20rem;
  }
}